<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	{{#stylesheets}}
	<link rel="stylesheet" type="text/css" href="{{.}}" />
	{{/stylesheets}}
	{{#javascripts}}
	<script type="text/javascript" src="{{.}}"></script>
	{{/javascripts}}
</head>
<body>
    <div id="index" class="collapsed">
        <a id="toggle" href="###" onclick="window.toggleTreeVisibility()">Show Index</a>
        {{{index}}}
    </div>
    <div id="content">
        {{{content}}}
    </div>
    <script type="text/javascript">
        SyntaxHighlighter.config.tagName = 'code';
        SyntaxHighlighter.all()
    </script>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-347601-11']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</body>
</html>