<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>Hello World</title>
	
	<script type="text/javascript" src="../../jquery-1.3.2.js"></script>
	<script type="text/javascript" src="../../mvc.js"></script>
	
	<script type="text/javascript">
	(function() {
		var Application = window.Application = function() {};
		
		var Controllers = Application.Controllers = function() {};

		Application.Controllers["home"] = function(options) {
			this["index"] = function(name) {
				return this.Result.html("index", { "name": name });
			};
			this["hello"] = function(name) {
				if (name === undefined || name === null) {
					return this.index();
				}
				return this.Result.html("hello", { "name": name });
			};
		};
		Application.Controllers["home"].prototype = MVC.Controller;
	})();
	
	$().ready(function() { MVC.startup(); });
	MVC.ready(function() { $("#home").html(MVC.go("home", "index")) });
	</script>
	
	<script id="index" type="text/html">
	My name is <input id="name" type="text" value="<%= (data.name) ? data.name : "" %>" /><br />
	<input type="button" value="go" onclick="$('#home').html(MVC.go('home', 'hello', $('#name').val()))" />
	</script>
	
	<script id="hello" type="text/html">
	<% if (data.name) { %>
		Hello, <%= data.name %>.<br />
		<input type="button" value="back" onclick="$('#home').html(MVC.go('home', 'index', '<%= data.name %>'))" />
	<% } else { %>
		Hello, world!<br />
		<input type="button" value="back" onclick="$('#home').html(MVC.go('home', 'index'))" />
	<% } %>
	</script>
</head>

<body>
	
	<div id="home">loading...</div>
	
</body>
</html>
